h1 {
  text-align: center;
}

#content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 95%;
  border: 1px solid black;
}

.project-block {
  margin: 30px auto;
  border: 1px solid black;
  width: 700px;
  max-width: 95%;
  padding: 10px;
}

a,
button {
  display: block;
  margin-bottom: 20px;
  color: black;
}
